
// [ SIDEBAR ]
.sidebar {
    @extend .blur;
    
    position: fixed;
    width: 200px; height: 100%; 
    padding: var(--m-big) var(--m-tiny);
    top: 0; left: 0;
    background: $blur-blue;
    border-right: 1px solid rgba(#395689, 0.2);
}


// [ avatar ]
  // img: avatar
.avatar .ava-img {
    width: 120px; height: 120px;
    margin: 0 auto;
    background: $dark;
    border-radius: 120px;
    cursor: pointer;
    transition: opacity 0.25s;
    @include flex-align;

    &:hover { opacity: 0.8 }
    &:hover + .caption { color: $white }

    img {
        width: 120px; height: 120px;
    }
}
  // caption: person name
.avatar .caption {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: var(--m-small);
    text-align: center;
    font-size: $fs-tiny;
    color: $inactive;
    transition: color 0.25s;
}


// [ navigation bar & notifications ]
.notifications {
    background: $blur-blue;
    border-radius: 7px;

    .heading {
        margin: 0;
        text-align: center;
        color: $lite-purple;
        font-size: 1.5rem;
    }
}
  // navigation & notifications wrapper
.navbar, .notifications {
    margin: 15px auto;
    margin-bottom: var(--m-small);
    width: 100%; height: auto;
    padding: var(--m-tiny);
}
.navbar {
    margin-bottom: varset('--m-small - 20px'); 
}
  // menu items
.navbar .menu-item, .notifications .menu-item {
    position: relative;
    margin: 15px auto;
    list-style: none;
    font-size: $fs-tiny;
    color: $inactive;
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
        color: darken($white, 10%);      
    }    
    &:active {
        color: $inactive;      
    }    
}
.notifications .menu-item.new::after {
    content: '';
    display: block;
    width: 4px; height: 4px;
    background: $red;
    border-radius: 4px;
    box-shadow: 0 0 15px 2px rgba($red, 0.2);

    @include align(right, top, absolute, -7px);
}
.navbar .menu-item.active, .notifications .menu-item.active {
    position: relative;
    color: $lite-purple;
    font-weight: $f-medium;

    &::before {
        @extend .glow-shadow-purple;

        content: '';
        display: block;
        width: 35px; height: 35px;
        background: $purple;
        border-radius: 5px;
        z-index: -1;

        @include align(left, center, absolute, -13px);
    }
}
.notifications-title {
    font-family: $f-decor;
    font-weight: $f-normal;
    font-size: $fs-small;
    color: $lite-purple;
    @include flex-align;
}
.notifications-title .ico {
    max-width: 16px;
    width: 16px;
    min-width: 16px;
    margin: 0;
    margin-right: 8px;
}


// [ button: logout ]
.logout {
    font-size: 1.5rem;
    color: $red;
    margin: 0 auto;
    text-align: center;

    &:hover {
        color: lighten($red, 5%);
    }
    &:active {
        color: $red;
    }
}