
// [ FOOTER ]
footer { 
    width: 100%; min-height: 60px;
    margin-top: var(--m-big);
    background: transparent;
    font-size: 1.3rem;
    color: lighten($blur-blue, 45%);
    user-select: none;
    pointer-events: none;

    @include flex-align(center, center);
}