@import 'Normalize.css';
:root {
  --m-tiny: 20px;
  --m-small: 50px;
  --m-medium: 60px;
  --m-big: 70px;
  --m-large: 120px;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 1px !important;
}

.m-2 {
  margin: 2px !important;
}

.m-3 {
  margin: 3px !important;
}

.m-4 {
  margin: 4px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt--1 {
  margin-top: -1px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mt--3 {
  margin-top: -3px !important;
}

.mt--4 {
  margin-top: -4px !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.mt--10 {
  margin-top: -10px !important;
}

.mt--20 {
  margin-top: -20px !important;
}

.mt--30 {
  margin-top: -30px !important;
}

.mt--40 {
  margin-top: -40px !important;
}

.mt--50 {
  margin-top: -50px !important;
}

.ml--1 {
  margin-left: -1px !important;
}

.ml--2 {
  margin-left: -2px !important;
}

.ml--3 {
  margin-left: -3px !important;
}

.ml--4 {
  margin-left: -4px !important;
}

.ml--5 {
  margin-left: -5px !important;
}

.ml--10 {
  margin-left: -10px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.ml--30 {
  margin-left: -30px !important;
}

.ml--40 {
  margin-left: -40px !important;
}

.ml--50 {
  margin-left: -50px !important;
}

.mr--1 {
  margin-right: -1px !important;
}

.mr--2 {
  margin-right: -2px !important;
}

.mr--3 {
  margin-right: -3px !important;
}

.mr--4 {
  margin-right: -4px !important;
}

.mr--5 {
  margin-right: -5px !important;
}

.mr--10 {
  margin-right: -10px !important;
}

.mr--20 {
  margin-right: -20px !important;
}

.mr--30 {
  margin-right: -30px !important;
}

.mr--40 {
  margin-right: -40px !important;
}

.mr--50 {
  margin-right: -50px !important;
}

.mb--1 {
  margin-bottom: -1px !important;
}

.mb--2 {
  margin-bottom: -2px !important;
}

.mb--3 {
  margin-bottom: -3px !important;
}

.mb--4 {
  margin-bottom: -4px !important;
}

.mb--5 {
  margin-bottom: -5px !important;
}

.mb--10 {
  margin-bottom: -10px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.mb--30 {
  margin-bottom: -30px !important;
}

.mb--40 {
  margin-bottom: -40px !important;
}

.mb--50 {
  margin-bottom: -50px !important;
}

.center-x {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.flex-col {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-row-center {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col-center-top {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-100 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-50 {
  width: 50% !important;
}

.ico-15 {
  max-width: 15px !important;
}

.ico-16 {
  max-width: 16px !important;
}

.ico-17 {
  max-width: 17px !important;
}

.ico-18 {
  max-width: 18px !important;
}

.ico-19 {
  max-width: 18px !important;
}

.ico-20 {
  max-width: 20px !important;
}

.ico-21 {
  max-width: 20px !important;
}

.ico-22 {
  max-width: 22px !important;
}

.widen-font {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.char-space-right::after {
  content: " ";
}

.f-lite {
  font-weight: 300 !important;
}

.f-normal {
  font-weight: 400 !important;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.blur, .sidebar {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.card, .card-wrapper, .header-card {
  background: rgba(28, 45, 75, 0.2);
  border-radius: 10px;
}

.text-green {
  color: #44FF84 !important;
}

.text-red {
  color: #FC3E4B !important;
}

h2.heading {
  margin: 0;
  margin-top: var(--m-big);
  margin-bottom: calc( var(--m-small) - 10px);
  font-size: 2.2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
h2.heading::after {
  content: ".";
}

h6.caption {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.mark {
  font-size: 2.2rem;
  color: #FFFFFF;
  font-weight: 500;
  margin: 0;
}

.text-key::after {
  content: ": ";
  margin-right: 10px;
}

.description {
  max-width: 50%;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  color: #FFFFFF;
  line-height: 150%;
}

::-webkit-scrollbar {
  width: 7px;
  cursor: alias;
}

::-webkit-scrollbar-thumb {
  background: #172542;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background: #131f36;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

::-webkit-scrollbar-track {
  border: none;
  background: transparent;
}

html {
  font: 10px "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background: #0A101C;
  color: #FFFFFF;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #FFFFFF;
}

.ico {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  fill: #FFFFFF;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: var(--m-big) var(--m-tiny);
  top: 0;
  left: 0;
  background: rgba(28, 45, 75, 0.2);
  border-right: 1px solid rgba(57, 86, 137, 0.2);
}

.avatar .ava-img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: #0A101C;
  border-radius: 120px;
}

.avatar .caption {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: var(--m-small);
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.notifications {
  background: rgba(28, 45, 75, 0.2);
  border-radius: 7px;
}
.notifications .heading {
  margin: 0;
  text-align: center;
  color: #F6C7FF;
  font-size: 1.5rem;
}

.navbar, .notifications {
  margin: 15px auto;
  margin-bottom: var(--m-small);
  width: 100%;
  height: auto;
  padding: var(--m-tiny);
}

.navbar {
  margin-bottom: calc( var(--m-small) - 20px);
}

.navbar .menu-item, .notifications .menu-item {
  position: relative;
  margin: 15px auto;
  list-style: none;
}
.navbar .menu-item a, .notifications .menu-item a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.navbar .menu-item a:hover, .notifications .menu-item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.notifications .menu-item.new::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #FC3E4B;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 2px rgba(252, 62, 75, 0.2);
          box-shadow: 0 0 15px 2px rgba(252, 62, 75, 0.2);
  position: absolute;
  right: -7px;
  top: 0;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.navbar .menu-item.active a, .notifications .menu-item.active a {
  position: relative;
  color: #F6C7FF;
  font-weight: 500;
}
.navbar .menu-item.active a::before, .notifications .menu-item.active a::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: rgba(238, 110, 250, 0.7);
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  left: -13px;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.notifications-title {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #F6C7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications-title .ico {
  max-width: 16px;
  width: 16px;
  min-width: 16px;
  margin: 0;
  margin-right: 8px;
}

.logout {
  font-size: 1.5rem;
  color: #FC3E4B;
  margin: 0 auto;
  text-align: center;
}

.header {
  width: 100%;
  height: auto;
  margin-bottom: var(--m-tiny);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--m-tiny);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-card {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: auto;
  min-height: 140px;
  padding: calc( var(--m-tiny) + 14px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-card .card-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-card .button {
  margin-left: var(--m-tiny);
}

.header-card .offset {
  font-size: 1.6rem;
  font-weight: 400;
}

.header-card .row {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.header-card .row:last-of-type {
  margin-bottom: 0;
}

main {
  width: 100%;
  height: auto;
}

article section {
  margin-top: var(--m-small);
}

section.col-2 .group {
  display: inline-block;
  margin-right: var(--m-small);
}

.right-section {
  width: calc(100% - 200px);
  height: 100vh;
  margin-left: 200px;
  padding: var(--m-big) var(--m-small);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer {
  width: 100%;
  min-height: 60px;
  margin-top: var(--m-big);
  background: transparent;
  font-size: 1.3rem;
  color: rgba(126, 155, 207, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  margin: 0;
  background: rgba(238, 110, 250, 0.7);
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button .ico {
  max-width: 15px;
  fill: #FFFFFF;
}
.button:hover {
  opacity: 0.8;
}
.button.red {
  background: #FC3E4B;
  -webkit-box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
          box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
}
.button.orange {
  background: #FF6666;
  -webkit-box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
          box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
}
.button.purple {
  background: rgba(238, 110, 250, 0.7);
  -webkit-box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
          box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
}

.infographics-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infographics {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.infographics ~ .infographics {
  margin-top: var(--m-tiny);
}

.estimation {
  min-width: 60px;
  height: 60px;
  margin: 0;
  padding: 10px;
  margin-right: var(--m-tiny);
  background: rgba(238, 110, 250, 0.7);
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infographics[colour=red] .estimation {
  background: #FC3E4B;
  -webkit-box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
          box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
}

.infographics[colour=orange] .estimation {
  background: #FF6666;
  -webkit-box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
          box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
}

.infographics[colour=purple] .estimation {
  background: rgba(238, 110, 250, 0.7);
  -webkit-box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
          box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
}

.progressbar {
  position: relative;
  width: 250px;
  height: 8px;
  top: -10px;
  border-radius: 8px;
  background: rgba(42, 67, 112, 0.2);
}
.progressbar::before {
  content: attr(data-caption);
  display: block;
  color: #F6C7FF;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: -35px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.activebar {
  height: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.infographics[colour=red] .activebar {
  background: #FC3E4B;
  -webkit-box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
          box-shadow: 0 0 18px 2px rgba(252, 62, 75, 0.2);
}

.infographics[colour=orange] .activebar {
  background: #FF6666;
  -webkit-box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
          box-shadow: 0 0 18px 2px rgba(255, 102, 102, 0.2);
}

.infographics[colour=purple] .activebar {
  background: rgba(238, 110, 250, 0.7);
  -webkit-box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
          box-shadow: 0 0 18px 2px rgba(238, 110, 250, 0.2);
}

.card-big {
  position: relative;
  width: 500px;
  height: auto;
}

.card-header {
  margin-bottom: calc( var(--m-tiny) - 5px);
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-title {
  margin: 0;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: rgba(238, 110, 250, 0.7);
}

.card-note {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.card-note span {
  margin-left: 3px;
  color: rgba(238, 110, 250, 0.7);
  font-weight: 400;
}

.card-wrapper {
  width: 100%;
  height: auto;
  padding: var(--m-tiny);
}

.card-footer {
  width: 100%;
  height: auto;
  padding-top: calc( var(--m-tiny) + 10px);
  padding-bottom: calc( var(--m-tiny) - 7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-footer .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-footer .cta:hover {
  opacity: 0.8;
}
.card-footer .cta span {
  margin-right: var(--m-tiny);
  font-size: 1.5rem;
  color: #F6C7FF;
  font-weight: 300;
}

.card-big[colour=red] .card-title {
  color: #FC3E4B;
}

.card-big[colour=orange] .card-title {
  color: #FF6666;
}

.card-big[colour=purple] .card-title {
  color: rgba(238, 110, 250, 0.7);
}

.card-big[colour=red] .blur-circle {
  background: rgba(252, 62, 75, 0.09);
}

.card-big[colour=orange] .blur-circle {
  background: rgba(255, 102, 102, 0.09);
}

.card-big[colour=purple] .blur-circle {
  background: rgba(231, 109, 251, 0.09);
}

.card-big .blur-circle {
  position: absolute;
  background: rgba(231, 109, 251, 0.09);
  border-radius: 90px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  z-index: -1;
}

.card-big .circle-top {
  width: 100px;
  height: 100px;
  top: -13px;
  left: -10px;
}

.card-big .circle-bottom {
  width: 200px;
  height: 200px;
  bottom: -20px;
  right: -20px;
}

.asset {
  width: 100%;
  height: auto;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 300;
  background: rgba(42, 67, 112, 0.2);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.asset ~ .asset {
  margin-top: 15px;
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-logo {
  width: 40px;
  height: 40px;
  background: #5B94C1;
  border-radius: 7px;
  margin-right: 15px;
}

.quotes {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes .ico {
  position: relative;
  width: 14px;
  margin-right: 7px;
  top: -1px;
}

.quotes.up {
  color: #44FF84 !important;
}

.quotes.up .ico {
  fill: #44FF84 !important;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.quotes.down {
  color: #FC3E4B !important;
}

.quotes.down .ico {
  fill: #FC3E4B !important;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}