
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $dark;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}


// [ buttons ]
a { 
    color: $white;
}


// [ icons ]
.ico { 
    width: 30px; height: 30px;
    margin: 0 5px;
    fill: $white;
}


// [ blurred circles ]
.back-blur-circle { 
    position: absolute;
    border-radius: 90px;;
    background: rgba(28, 45, 75, 0.82);
    filter: blur(128px);
    z-index: -1;
}
.back-blur-circle.circle-top { 
    width: 100px; height: 100px;
    top: -13px; right: -10px;
}
.back-blur-circle.circle-bottom { 
    width: 200px; height: 200px;
    bottom: -20px; left: -20px;
}
