
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $dark;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}


// [ buttons ]
a { 
    color: $white;
}


// [ icons ]
.ico { 
    width: 30px; height: 30px;
    margin: 0 5px;
    fill: $white;
}


// [ blurred circles ]
.back-blur-circle { 
    position: fixed;
    border-radius: 90px;
    background: rgba(28, 45, 75, 0.5);
    filter: blur(80px);
    z-index: 0;
    user-select: none;
    pointer-events: none;
}
.back-blur-circle.circle-top { 
    border-radius: 650px;
    width: 650px; height: 650px;
    top: -175px; right: -175px;
}
.back-blur-circle.circle-bottom { 
    border-radius: 400px;
    width: 400px; height: 400px;
    bottom: -100px; left: -200px;
}
