
// [ COLOURS ]:

$dark:          #0A101C;
$red:           #FC3E4B;
$orange:        #FF6666;
$green:         #44FF84;
$lite-purple:   #F6C7FF;
$white:         #FFFFFF;
$blur-blue:     rgba(#1C2D4B, 0.2);
$purple:        rgba(#EE6EFA, 0.7);
$grey:          rgba(#FFFFFF, 0.7);
$inactive:      rgba(#FFFFFF, 0.5);


// [ FONTS ]:

  // [ font-families ]:
$f-size:  10px;
$f-body:  'Montserrat', sans-serif;
$f-decor: 'Play', sans-serif;
$font: $f-size $f-body;

  // [ font-weights ]:
$f-lite:        300;
$f-normal:      400;
$f-medium:      500;
$f-semibold:    600;
$f-bold:        700;
$f-extra-bold:  800;
$f-black:       900;

  // [ font-sizes ]:
$fs-tiny:       1.5rem;
$fs-small:      1.6rem;
$fs-medium:     1.8rem;
$fs-big:        2.2rem;


// [ SIZES ]:

$mb: 576px;
$sm: 768px;
$md: 900px;
$lg: 1200px;
$w: $lg;


// [ MARGINS ]:

:root {

    --m-tiny:   20px;
    --m-small:  50px;
    --m-medium: 60px;
    --m-big:    70px;
    --m-large:  120px;

}